{% extends 'admin/center/center.html.twig' %}

{% block title %}Programmes fidélité{% endblock %}

{% block titre_section %} Programmes de fidélité {% endblock %}

{% block content %}

    <p><i>Partie qui n'a pas pu être implémentée, mais qui aurait pu très intéressante : La gestion de programmes de fidélité.<br>
            D'un côté une liste des récompenses existantes avec leurs coûts en points de fidélité (qui s'affichent automatiquement côté Front dans l'espace clients lorsqu'elles sont débloquées). Le but est de permettre d'éditer ici ces récompenses, de mesurer leur impact sur la fidélité...</i></p>

    <p><i>Et de l'autre un Loyalty manager permettant de créer de nouvelles récompenses, avec des codes couleur et par étages (songez à une gestion à la Kickstarter). ET de pusher des offres commerciales sur mesure à un client précis (en suivant son activité, par exemple pour le relancer, ou le remercier de sa fidélité).</i></p>
    <p><i>La gestion des récompenses doit être capable de tester une condition sur les données d'activité client. Exemples: Si le joueur a disputé >= 60 parties, telle récompense est débloquée, s'il a survécu à 6 parties consécutives, telle autre.</i></p>
    <p>Ce manager doit être aussi capable de dégager un ratio entre les coûts des récompenses et les gains pour l'entreprise, ne serait-ce qu'en termes de fréquentation.</p>


{% endblock %}