
###> symfony/framework-bundle ###
/.idea
/.env.local
/.env.*.local
/php_errors.log
/var/
/vendor/
/xdebug/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

